body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:287px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:331px;
  width:522px;
  height:62px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:514px;
  word-wrap:break-word;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:268px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u226_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:10px;
}
#u226_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:2px;
  width:333px;
  height:8px;
}
#u226_seg2 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:2px;
  width:8px;
  height:17px;
}
#u226_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:450px;
  width:40px;
  height:341px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:476px;
  width:16px;
  height:16px;
  font-size:16px;
  color:#FF3399;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:481px;
  width:24px;
  height:24px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
