body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:834px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:500px;
  height:834px;
}
#u1501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:874px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:874px;
}
#u1502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:903px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:0px;
  width:500px;
  height:903px;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
