body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2243px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:1125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:5px 0px 5px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:5px 0px 5px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:5px 0px 5px rgba(215, 215, 215, 0.349019607843137);
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:1125px;
}
#u2337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:28px;
  width:110px;
  height:110px;
}
#u2339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:106px;
  word-wrap:break-word;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:155px;
  width:55px;
  height:25px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:180px;
  width:81px;
  height:22px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:2px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:217px;
  height:1px;
}
#u2342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:248px;
  width:73px;
  height:25px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:248px;
  width:21px;
  height:25px;
}
#u2345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:350px;
  width:22px;
  height:22px;
}
#u2347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:350px;
  width:145px;
  height:22px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:320px;
  width:113px;
  height:22px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:322px;
  width:22px;
  height:15px;
}
#u2351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:295px;
  width:22px;
  height:13px;
}
#u2353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:291px;
  width:97px;
  height:22px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1466px;
  height:1125px;
  background:inherit;
  background-color:rgba(243, 243, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:1466px;
  height:1125px;
}
#u2356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1466px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(215, 215, 215, 0.349019607843137);
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:81px;
  width:1466px;
  height:93px;
}
#u2358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2359_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1469px;
  height:5px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:127px;
  width:1466px;
  height:2px;
}
#u2359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#536570;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:81px;
  width:95px;
  height:46px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#536570;
}
#u2360_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#536570;
}
#u2360.mouseOver {
  opacity:0.8;
}
#u2360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u2361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:46px;
  background:inherit;
  background-color:rgba(28, 178, 148, 1);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:81px;
  width:183px;
  height:46px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2361_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:46px;
  background:inherit;
  background-color:rgba(28, 178, 148, 1);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2361.mouseOver {
  opacity:0.8;
}
#u2361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u2362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:139px;
  width:437px;
  height:25px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
}
#u2362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  white-space:nowrap;
}
#u2363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#536570;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:81px;
  width:95px;
  height:46px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#536570;
}
#u2363_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#536570;
}
#u2363.mouseOver {
  opacity:0.8;
}
#u2363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u2364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
  background:inherit;
  background-color:rgba(27, 179, 146, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:6px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:20px;
  width:39px;
  height:31px;
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:6px;
}
#u2364_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
  background:inherit;
  background-color:rgba(27, 179, 146, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:6px;
}
#u2364.mouseOver {
  opacity:0.8;
}
#u2364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  word-wrap:break-word;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(215, 215, 215, 0.349019607843137);
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:194px;
  width:1411px;
  height:90px;
}
#u2366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:231px;
  width:151px;
  height:32px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2369_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:139px;
  word-wrap:break-word;
}
#u2370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:231px;
  width:151px;
  height:32px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2372_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:139px;
  word-wrap:break-word;
}
#u2373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:204px;
  width:73px;
  height:25px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:244px;
  width:11px;
  height:7px;
}
#u2374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:231px;
  width:151px;
  height:32px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2376_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:139px;
  word-wrap:break-word;
}
#u2377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:204px;
  width:55px;
  height:25px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:231px;
  width:206px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2380_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:186px;
  word-wrap:break-word;
}
#u2381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:239px;
  width:14px;
  height:16px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.427450980392157);
}
#u2381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:204px;
  width:73px;
  height:25px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
}
#u2382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:231px;
  width:206px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2384_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:186px;
  word-wrap:break-word;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:239px;
  width:14px;
  height:16px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.427450980392157);
}
#u2385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:6px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:247px;
  width:14px;
  height:3px;
}
#u2386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
  background:inherit;
  background-color:rgba(42, 136, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(42, 136, 189, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:227px;
  width:77px;
  height:36px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2388_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
  background:inherit;
  background-color:rgba(42, 136, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(42, 136, 189, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2388.mouseOver {
  opacity:0.8;
}
#u2388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u2389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
  background:inherit;
  background-color:rgba(68, 167, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 167, 98, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:227px;
  width:77px;
  height:36px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2389_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
  background:inherit;
  background-color:rgba(68, 167, 98, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 167, 98, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2389.mouseOver {
  opacity:0.8;
}
#u2389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:702px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(215, 215, 215, 0.349019607843137);
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:303px;
  width:1411px;
  height:702px;
}
#u2391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:350px;
  width:1224px;
  height:100px;
}
#u2393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u2394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:0px;
  width:142px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:254px;
  height:30px;
}
#u2395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:250px;
  word-wrap:break-word;
}
#u2396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:0px;
  width:168px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:168px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:210px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:206px;
  word-wrap:break-word;
}
#u2399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:0px;
  width:174px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u2400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:35px;
}
#u2400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u2401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:30px;
  width:142px;
  height:35px;
}
#u2401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u2402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:30px;
  width:254px;
  height:35px;
}
#u2402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:30px;
  width:168px;
  height:35px;
}
#u2403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u2404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:30px;
  width:168px;
  height:35px;
}
#u2404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:30px;
  width:210px;
  height:35px;
}
#u2405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u2406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:35px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:30px;
  width:174px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:170px;
  word-wrap:break-word;
}
#u2407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:108px;
  height:35px;
}
#u2407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u2408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:65px;
  width:142px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u2409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:35px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:65px;
  width:254px;
  height:35px;
}
#u2409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:65px;
  width:168px;
  height:35px;
}
#u2410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:65px;
  width:168px;
  height:35px;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:65px;
  width:210px;
  height:35px;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u2413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:35px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:65px;
  width:174px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:170px;
  word-wrap:break-word;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:1741px;
  top:386px;
  width:81px;
  height:28px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:26px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:1743px;
  top:430px;
  width:500px;
  height:60px;
  font-size:12px;
  color:#FF3399;
  line-height:26px;
}
#u2416_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:365px;
  width:0px;
  height:0px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u2417_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:360px;
  height:8px;
}
#u2417_seg1 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:-4px;
  width:8px;
  height:25px;
}
#u2417_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2417_text {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
